@font-face {
  font-family: 'Philosopher';
  src: url('./../assets/fonts/Philosopher/Philosopher-Regular.ttf');
}
@font-face {
  font-family: 'Philosopher';
  src: url('./../assets/fonts/Philosopher/Philosopher-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'Philosopher';
  src: url('./../assets/fonts/Philosopher/Philosopher-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Philosopher';
  src: url('./../assets/fonts/Philosopher/Philosopher-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}